
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.test
@ViewBag.TestWord
<div>訂單編號</div>


@using (Html.BeginForm("MyAction", "Order"))
{
    <div>@Html.TextBox("txtOrderId")</div>
    <input type="submit" value="依ID查詢" />

}  

@using (Html.BeginForm("OrderByDate", "Order"))
{
    <input type="submit" value="依要求日期由近到遠取前10筆" />
}