<div>
    目前時間：@System.DateTime.Now
</div>

<div>
    <label>姓名</label>
    <input type="text" />
</div>
<div>
    <label>性別</label>
    <input type="text" />
</div>
<div>
    <label>地址</label>
    <input type="text" />
</div>
<div>
    <label>出生年月日</label>
    <input type="text" />
</div>

<script type="text/javascript">
    alert("Welcome to Gossiping");
</script>