@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    有ViewStart的話會先經過這個
    所以LayoutPage才有ViewStart的畫面    
-->

<table class="table table-bordered table-striped">
    <tr>
        <td>Welcome</td>
        <td>to</td>
        <td>View</td>
        <td>Start</td>
    </tr>

    <tr>
        <td>灑花 (*￣▽￣)/‧☆*"`'*-.,_,.-*'`"*-.,_☆</td>
        <td>灑花 (*￣▽￣)/‧☆*"`'*-.,_,.-*'`"*-.,_☆</td>
        <td>灑花 (*￣▽￣)/‧☆*"`'*-.,_,.-*'`"*-.,_☆</td>
        <td>灑花 (*￣▽￣)/‧☆*"`'*-.,_,.-*'`"*-.,_☆</td>
    </tr>
</table>

@{Html.RenderPartial("_SysDatePartial");}